<template>
  <div class="layout">
    <div class="nav">
      <router-link to="/manage">manage</router-link> |
      <router-link to="/person">person</router-link> |
      <router-link to="/ship">ship</router-link>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>
.nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>