@charset 'utf-8';
@import './reset.scss';
@import './variable.scss';
@import './mixin.scss';

$font_default_color: $font-color-light;
$font_input_color: $font-color-shallow3;
$bg_default_color: $background-color-theme;
$font_title_size: $font_large_s;
$font_default_size: $font_medium_s;
$border_default_light: $border-theme-light;
$header_row_height: $fixed-header-row-height;
$nav_col_width: $left-nav-col-width;
$video_menu_col_width: $left-menu-col-width;
$title_font_size: $font_large_x;
$title_font_color: $font-color-light;
$title_font_color_light: $font-color-light-s;
$title_font_color_light_x: $font-color-light-xs;

* {
    box-sizing: border-box;
}

.scroll-style {
  overflow-y: auto;
}
.scroll-style::-webkit-scrollbar {
    width: 6px;
    background: inherit;
}
.scroll-style::-webkit-scrollbar-thumb {
    width: 6px;
    height: 4px;
    border-radius: 10px;
    background: #cccccc;
}
// 公用普通样式
.flex {
  display: flex;
//   align-self: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.between-flex {
  display: flex;
  justify-content: space-between;
}
.abheight100 {
  position: absolute;
  top: 0;
  bottom: 0;
}
.height100 {
  height: 100%;
}
.top_20 {
    margin-top: 20px;
}
.top_40 {
    margin-top: 40px;
}
.mb-5 {
    margin-bottom: 5px;
}
.ab-t-r {
    position: absolute;
    top:0;
    right: 0;
}
.input_error {
    @include font_error_color();
}