//颜色定义规范
$background-color-theme : #2d3a4b;//背景主题颜色默认
$background-color-theme1 : red;//背景主题颜色1
$background-color-theme2 : #652BF5;//背景主题颜色2
$background-color-theme3 : deepskyblue;//背景主题颜色3
$background-color-themesec : #edc148;//背景次要主题颜色

$font-color-light: #eee;//字体主题轻颜色默认
$font-color-light-s: #ddd;//字体主题轻颜色附属子颜色
$font-color-light-xs: rgba(255, 255, 255, .7);//字体主题轻颜色附属子颜色
$font-color-theme : $background-color-theme;//字体主题深颜色默认
$font-color-theme1 : red;//字体主题颜色1
$font-color-theme2 : #652BF5;//字体主题颜色2
$font-color-theme3 : deepskyblue;//字体主题颜色3
$font-color-themesec : #edc148;//字体次要主题颜色
$font-error-color: rgb(223, 81, 81); // 字体报错颜色

$font-color-shallow0 : #000;
$font-color-shallow1 : #111;
$font-color-shallow2 : #222;
$font-color-shallow3 : #333;
$font-color-shallow4 : #444;
$font-color-shallow5 : #555;
$font-color-shallow6 : #666;
$font-color-shallow7 : #777;
$font-color-shallow8 : #888;
$font-color-shallow9 : #999;
$font-color-shallowdb : #dbdbdb;
 
//字体定义规范
$font_little_s:10px;
$font_little:12px;
$font_medium_s:14px;
$font_medium:16px;
$font_large_s:18px;
$font_large:20px;
$font_large_x: 26px;

// 边框设定
$border-theme-light: #ccc;
$border-theme-deep: $background-color-theme;

// 按钮设定
$button-bgcolor-light: #ccc;

// 高度
$fixed-header-row-height: 55px;

//宽度
$left-nav-col-width: 65px;
$left-menu-col-width: 350px;